@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'DM Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #000;
}

.wrapper {
  min-width: 0;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1233px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38px;
          flex: 0 1 38px;
}

body._lock {
  overflow: hidden;
}

.header {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  margin: 0px 0px 0px 40px;
}

.menu__link {
  color: #fff;
  font-size: 18px;
}

.menu__link:hover {
  text-decoration: underline;
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.social-menu__item {
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.social-menu__item:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

@media (min-width: 768px) {
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767.98px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    background-color: #fff;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
  .menu__body {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 140px 30px 30px 30px;
    -webkit-transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #000;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list > li {
    margin: 0 0 60px 0;
  }
  .menu__link {
    font-size: 34px;
    line-height: calc(42 / 34 * 100%);
  }
  .social-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
}

.main-block {
  padding-top: 180px;
  padding-bottom: 70px;
}

@media (max-width: 991.98px) {
  .main-block {
    padding-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .main-block {
    padding-top: 160px;
    padding-bottom: 50px;
  }
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 170px;
          column-gap: 170px;
}

@media (max-width: 1279.98px) {
  .main-block__container {
    -webkit-column-gap: 150px;
            column-gap: 150px;
  }
}

@media (max-width: 1099.98px) {
  .main-block__container {
    -webkit-column-gap: 100px;
            column-gap: 100px;
  }
}

@media (max-width: 991.98px) {
  .main-block__container {
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 80px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-block__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

@media (max-width: 991.98px) {
  .main-block__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.main-block__title {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 119%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-block__title:not(:last-child) {
  margin-bottom: 43px;
}

.main-block__text {
  max-width: 340px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.main-block__text:not(:last-child) {
  margin-bottom: 115px;
}

@media (max-width: 991.98px) {
  .main-block__text {
    max-width: none;
  }
  .main-block__text:not(:last-child) {
    margin-bottom: 65px;
  }
}

.main-block__button {
  border: 2px solid #8DFD1B;
  background-color: #8DFD1B;
  min-height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 21px 40px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.main-block__button:hover {
  background-color: #000;
  color: #FFFFFF;
}

.main-block__carousel {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .main-block__carousel {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.icon-cards {
  position: relative;
  width: 60vw;
  height: 40vw;
  max-width: 360px;
  max-height: 360px;
  margin: 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-30vw) rotateY(0);
          transform: translateZ(-30vw) rotateY(0);
  -webkit-animation: carousel 7s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: carousel 7s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@media (max-width: 567.98px) {
  .icon-cards__content {
    max-width: 75%;
  }
}

@media (max-width: 479.98px) {
  .icon-cards__content {
    max-width: 70%;
  }
}

.icon-cards__content.step-animation {
  -webkit-animation: carousel 7s infinite steps(1) forwards;
          animation: carousel 7s infinite steps(1) forwards;
}

.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 40vw;
  max-width: 360px;
  max-height: 360px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.icon-cards__item:nth-child(1) {
  -webkit-transform: rotateY(0) translateZ(35vw);
          transform: rotateY(0) translateZ(35vw);
}

.icon-cards__item:nth-child(2) {
  -webkit-transform: rotateY(120deg) translateZ(35vw);
          transform: rotateY(120deg) translateZ(35vw);
}

.icon-cards__item:nth-child(3) {
  -webkit-transform: rotateY(240deg) translateZ(35vw);
          transform: rotateY(240deg) translateZ(35vw);
}

.icon-cards__item img {
  max-width: 360px;
}

@media (max-width: 1099.98px) {
  .icon-cards__item img {
    max-width: 320px;
  }
}

@media (max-width: 991.98px) {
  .icon-cards__item img {
    max-width: 260px;
  }
}

@media (max-width: 767.98px) {
  .icon-cards__item img {
    max-width: 200px;
  }
}

@media (max-width: 567.98px) {
  .icon-cards__item img {
    max-width: 160px;
  }
}

@-webkit-keyframes carousel {
  0%, 17.5% {
    -webkit-transform: translateZ(-35vw) rotateY(0);
            transform: translateZ(-35vw) rotateY(0);
  }
  27.5%, 45% {
    -webkit-transform: translateZ(-35vw) rotateY(-120deg);
            transform: translateZ(-35vw) rotateY(-120deg);
  }
  55%, 72.5% {
    -webkit-transform: translateZ(-35vw) rotateY(-240deg);
            transform: translateZ(-35vw) rotateY(-240deg);
  }
  82.5%, 100% {
    -webkit-transform: translateZ(-35vw) rotateY(-360deg);
            transform: translateZ(-35vw) rotateY(-360deg);
  }
}

@keyframes carousel {
  0%, 17.5% {
    -webkit-transform: translateZ(-35vw) rotateY(0);
            transform: translateZ(-35vw) rotateY(0);
  }
  27.5%, 45% {
    -webkit-transform: translateZ(-35vw) rotateY(-120deg);
            transform: translateZ(-35vw) rotateY(-120deg);
  }
  55%, 72.5% {
    -webkit-transform: translateZ(-35vw) rotateY(-240deg);
            transform: translateZ(-35vw) rotateY(-240deg);
  }
  82.5%, 100% {
    -webkit-transform: translateZ(-35vw) rotateY(-360deg);
            transform: translateZ(-35vw) rotateY(-360deg);
  }
}

.wave-nfts {
  padding-top: 70px;
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .wave-nfts {
    padding-bottom: 90px;
  }
}

@media (max-width: 767.98px) {
  .wave-nfts {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

.wave-nfts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .wave-nfts__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 40px;
  }
}

.wave-nfts__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 991.98px) {
  .wave-nfts__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.wave-nfts__title {
  max-width: 350px;
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.wave-nfts__title span {
  color: #A8A8A8;
}

.wave-nfts__title:not(:last-child) {
  margin-bottom: 41px;
}

@media (max-width: 991.98px) {
  .wave-nfts__title {
    max-width: none;
    font-size: 32px;
  }
}

.wave-nfts__image {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wave-nfts__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 991.98px) {
  .wave-nfts__right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.wave-nfts__print-title {
  background: black;
  border-left: 2px solid #8DFD1B;
  padding-left: 22px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 152%;
  color: #8DFD1B;
}

.wave-nfts__print-title:not(:last-child) {
  margin-bottom: 27px;
}

.wave-nfts__print-title span {
  visibility: hidden;
}

.wave-nfts__print-title span.visible {
  visibility: visible;
  position: relative;
}

@media (min-width: 992px) {
  .wave-nfts__print-title span.cursor {
    -webkit-animation: blinking 0.5s step-start infinite;
            animation: blinking 0.5s step-start infinite;
  }
  .wave-nfts__print-title span.cursor::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 32px;
    top: 0;
    right: -3px;
    border-right: 5px solid #8DFD1B;
  }
}

@media (max-width: 767.98px) {
  .wave-nfts__print-title {
    font-size: 18px;
  }
}

.wave-nfts__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.wave-nfts__text p:not(:last-child) {
  margin-bottom: 18px;
}

.wave-nfts__text:not(:last-child) {
  margin-bottom: 36px;
}

@media (max-width: 767.98px) {
  .wave-nfts__text {
    font-size: 14px;
  }
}

.wave-nfts__button {
  border: 2px solid #8DFD1B;
  background-color: #000;
  min-height: 42px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 12px 33px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.wave-nfts__button:hover {
  background-color: #8DFD1B;
  color: #000000;
}

@-webkit-keyframes blinking {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinking {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.artists {
  position: relative;
}

.artists__title {
  position: absolute;
  width: 100%;
  height: 88px;
  top: 0;
  left: -50vw;
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 79px;
  line-height: 111%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26vw;
          column-gap: 26vw;
}

.artists__title span {
  animation: title-move 7s infinite alternate-reverse;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

@media (max-width: 767.98px) {
  .artists__title {
    font-size: 59px;
  }
}

@media (max-width: 479.98px) {
  .artists__title {
    font-size: 39px;
  }
}

.artists__container {
  padding-top: 280px;
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .artists__container {
    padding-top: 220px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767.98px) {
  .artists__container {
    padding-top: 150px;
    padding-bottom: 70px;
  }
}

.artists__columns {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

.item-artists {
  text-align: center;
}

.item-artists__image {
  text-align: center;
}

.item-artists__image img {
  max-width: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.item-artists__image img:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.item-artists__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.item-artists__name:not(:first-child) {
  margin-top: 20px;
}

@-webkit-keyframes title-move {
  0% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  100% {
    -webkit-transform: translateX(70vw);
            transform: translateX(70vw);
  }
}

@keyframes title-move {
  0% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  100% {
    -webkit-transform: translateX(70vw);
            transform: translateX(70vw);
  }
}

.stories {
  padding-top: 100px;
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .stories {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .stories {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.stories__title {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 123%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.stories__title span {
  color: #A8A8A8;
}

.stories__title:not(:last-child) {
  margin-bottom: 61px;
}

.stories__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .stories__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.stories__buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

@media (max-width: 991.98px) {
  .stories__buttons {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    border-bottom: 2px solid #000;
  }
}

.stories__button {
  width: 100%;
  min-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 27px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  background-color: #000000;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.stories__button:hover {
  color: #8DFD1B;
}

.stories__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

@media (max-width: 991.98px) {
  .stories__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.content-stories {
  padding: 60px;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

@media (max-width: 767.98px) {
  .content-stories {
    padding: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

@media (max-width: 479.98px) {
  .content-stories {
    padding: 20px;
  }
}

@media (max-width: 767.98px) {
  .content-stories__image {
    margin-bottom: 20px;
  }
}

.content-stories__title {
  border-left: 2px solid #8DFD1B;
  padding-left: 22px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 152%;
  color: #8DFD1B;
}

.content-stories__title:not(:last-child) {
  margin-bottom: 32px;
}

@media (max-width: 767.98px) {
  .content-stories__title {
    padding-left: 18px;
  }
}

.content-stories__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.content-stories__text p:not(:last-child) {
  padding-bottom: 18px;
}

.active-button {
  background-color: #222222;
  color: #8DFD1B;
}

.content-stories_1, .content-stories_2, .content-stories_3 {
  display: none;
}

.active-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-background__image {
  display: block;
  padding-bottom: calc(240 / 1440 * 100%);
}

.roadmap {
  position: relative;
  padding-top: 100px;
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .roadmap {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .roadmap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.roadmap__absolute-element {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url("../img/roadmap/radar.svg") left top no-repeat;
  top: -87px;
  left: -27px;
}

@media (max-width: 1179.98px) {
  .roadmap__absolute-element {
    display: none;
  }
}

.roadmap__absolute-element::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url("../img/roadmap/radar.svg") right no-repeat;
  top: 57px;
  right: -77px;
}

@media (max-width: 1179.98px) {
  .roadmap__absolute-element::before {
    display: none;
  }
}

.roadmap__absolute-element::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url("../img/roadmap/radar.svg") left bottom no-repeat;
  bottom: -250px;
  left: -27px;
}

@media (max-width: 1179.98px) {
  .roadmap__absolute-element::after {
    display: none;
  }
}

.roadmap__container {
  position: relative;
  z-index: 3;
}

.roadmap__title {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.roadmap__title:not(:last-child) {
  margin-bottom: 61px;
}

.roadmap__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 140px;
}

.roadmap__item {
  max-width: 540px;
}

.item-roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #8DFD1B;
  background-color: #222222;
  position: relative;
}

.item-roadmap:hover .item-roadmap__number {
  background: #8DFD1B;
  color: #000;
}

.item-roadmap:hover .item-roadmap__image img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.item-roadmap:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  bottom: -90px;
  left: 50%;
  background-color: #8DFD1B;
}

.item-roadmap__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #8DFD1B;
  padding: 12px;
}

.item-roadmap__number {
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 102%;
  color: #000000;
  width: 43px;
  height: 43px;
  background-color: #222222;
  color: #8DFD1B;
  border: 2px solid #8DFD1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-roadmap__labels {
  padding-left: 12px;
}

.item-roadmap__suplabel {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
}

.item-roadmap__sublabel {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 173%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.item-roadmap__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 75px;
          column-gap: 75px;
  padding: 30px 12px;
}

@media (max-width: 579.98px) {
  .item-roadmap__bottom {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    padding: 25px 10px;
  }
}

@media (max-width: 479.98px) {
  .item-roadmap__bottom {
    -webkit-column-gap: 0px;
            column-gap: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

.item-roadmap__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 233%;
  color: #FFFFFF;
  max-width: 310px;
}

@media (max-width: 579.98px) {
  .item-roadmap__body {
    max-width: none;
  }
}

.item-roadmap__first-text-block {
  padding-left: 22px;
}

.item-roadmap__first-text-block:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 479.98px) {
  .item-roadmap__first-text-block {
    padding-left: 0px;
  }
}

.item-roadmap__second-text-block a {
  color: #8DFD1B;
}

.item-roadmap__second-text-block a:hover {
  text-decoration: underline;
}

.item-roadmap__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 129px;
          flex: 0 0 129px;
  border-radius: 8px;
  overflow: hidden;
}

.item-roadmap__image img {
  -webkit-transition: all 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 479.98px) {
  .item-roadmap__image {
    margin-bottom: 15px;
  }
}

.our-partners {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .our-partners {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .our-partners {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.our-partners__title {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 109%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
}

.our-partners__title:not(:last-child) {
  margin-bottom: 50px;
}

.our-partners__text {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all 7s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 7s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.our-partners__text span:not(:last-child) {
  padding-right: 85px;
}

.our-partners__text p:not(:last-child) {
  margin-bottom: 60px;
}

.our-partners__text p {
  animation: title-move-big 6s infinite alternate-reverse;
}

.our-partners__text p:last-child {
  animation: title-move-big-reverse 6s infinite alternate-reverse;
}

@-webkit-keyframes title-move-big {
  0% {
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
  }
  100% {
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
}

@keyframes title-move-big {
  0% {
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
  }
  100% {
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
}

@-webkit-keyframes title-move-big-reverse {
  0% {
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
  100% {
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
  }
}

@keyframes title-move-big-reverse {
  0% {
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
  100% {
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
  }
}

.contact {
  padding-top: 100px;
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .contact {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .contact {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 891.98px) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    row-gap: 30px;
    text-align: center;
  }
}

.contact__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contact__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.left-contact__title {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.left-contact__title span {
  color: #A8A8A8;
}

.left-contact__title:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: 479.98px) {
  .left-contact__title {
    font-size: 30px;
  }
}

.left-contact__image {
  padding: 0 10px;
}

.left-contact__image img {
  max-width: 100%;
}

.right-contact__item {
  background-color: #222222;
}

.right-contact__item:not(:last-child) {
  border-bottom: 2px solid #000000;
}

.right-contact__title {
  width: 100%;
  text-align: left;
  position: relative;
  background-color: #222222;
  padding: 24px 70px 24px 30px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.right-contact__text {
  padding: 5px 30px 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #C4C4C4;
}

.right-contact._init .right-contact__title {
  cursor: pointer;
}

.right-contact._init .right-contact__title::before, .right-contact._init .right-contact__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #C4C4C4;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s, -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.right-contact._init .right-contact__title::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.right-contact._init .right-contact__title._active::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.team {
  padding-top: 100px;
  padding-bottom: 120px;
  position: relative;
}

@media (max-width: 991.98px) {
  .team {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team__title {
  position: absolute;
  width: 100%;
  height: 88px;
  top: 0;
  left: -50vw;
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 79px;
  line-height: 111%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20vw;
          column-gap: 20vw;
}

.team__title span {
  animation: title-move 7s infinite alternate-reverse;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

@media (max-width: 767.98px) {
  .team__title {
    font-size: 59px;
  }
}

@media (max-width: 479.98px) {
  .team__title {
    font-size: 39px;
  }
}

.team__container {
  padding: 0 70px;
}

.team-swiper .swiper-button-prev::after,
.team-swiper .swiper-button-next::after {
  color: #fff;
  font-size: 60px;
}

@media (max-width: 767.98px) {
  .team-swiper .swiper-button-prev::after,
  .team-swiper .swiper-button-next::after {
    font-size: 50px;
  }
}

.swiper-button-prev, .swiper-button-next {
  padding: 0 20px;
  z-index: 2;
}

.team-swiper {
  padding-top: 122px;
}

@media (max-width: 991.98px) {
  .team-swiper {
    padding-top: 80px;
  }
}

@media (max-width: 767.98px) {
  .team-swiper {
    padding-top: 60px;
  }
}

.team-swiper__wrapper {
  text-align: center;
}

.team-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.team-slide__image img {
  max-width: 100%;
}

.team-slide__image:not(:last-child) {
  margin-bottom: 19px;
}

.team-slide__name {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 132%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team-slide__name:not(:last-child) {
  margin-bottom: 18px;
}

.team-slide__status {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 109%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
}

.team-slide__status:not(:last-child) {
  margin-bottom: 22px;
}

.team-slide__social:not(:last-child) {
  margin-bottom: 22px;
}

.team-slide__social a:not(:last-child) {
  padding-right: 2px;
}

.team-slide__text {
  max-width: 238px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #FFFFFF;
}

.join {
  padding-top: 100px;
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .join {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .join {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.join__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20%;
          column-gap: 20%;
}

@media (max-width: 991.98px) {
  .join__container {
    -webkit-column-gap: 10%;
            column-gap: 10%;
  }
}

@media (max-width: 767.98px) {
  .join__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.join__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 410px;
  padding-left: 65px;
  max-width: 410px;
}

@media (max-width: 767.98px) {
  .join__content {
    max-width: none;
    padding-left: 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    margin-bottom: 40px;
  }
}

.join__title {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 119%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.join__title span {
  color: #8DFD1B;
}

.join__title:not(:last-child) {
  margin-bottom: 34px;
}

@media (max-width: 991.98px) {
  .join__title {
    font-size: 41px;
  }
}

@media (max-width: 767.98px) {
  .join__title {
    font-size: 36px;
  }
  .join__title:not(:last-child) {
    margin-bottom: 24px;
  }
}

.join__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.join__text:not(:last-child) {
  margin-bottom: 34px;
}

@media (max-width: 767.98px) {
  .join__text:not(:last-child) {
    margin-bottom: 24px;
  }
}

.join__button {
  border: 2px solid #8DFD1B;
  background-color: #8DFD1B;
  min-height: 43px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 12px 30px 12px 50px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  position: relative;
}

.join__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 18px;
  background: url("../img/join/discord.svg") left center no-repeat;
}

.join__button:hover {
  background-color: #000;
  color: #FFFFFF;
}

.join__button:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 18px;
  background: url("../img/join/discord-white.svg") left center no-repeat;
}

.join__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: right;
}

.join__image img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .join__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.footer {
  padding: 100px 0;
  background-color: #42006A;
}

@media (max-width: 991.98px) {
  .footer {
    padding: 60px 0;
  }
}

@media (max-width: 769.98px) {
  .footer {
    padding: 50px 0;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 991.98px) {
  .footer__container {
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer__first {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.666%;
          flex: 0 1 26.666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 20px;
}

.footer__copy {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
  color: #FFFFFF;
}

.footer__second {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991.98px) {
  .footer__second {
    display: none;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 29px;
}

.footer__link {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__third {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991.98px) {
  .footer__third {
    display: none;
  }
}

.footer__fourth {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.666%;
          flex: 0 1 26.666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 7%;
}

@media (max-width: 991.98px) {
  .footer__fourth {
    padding-left: 0%;
  }
}

.footer__text {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 118%;
  color: #FFFFFF;
}

.footer__text:not(:last-child) {
  margin-bottom: 33px;
}

.footer__text a {
  color: #FFFFFF;
}

.footer__text a:hover {
  text-decoration: underline;
}

.footer__fiveth {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.666%;
          flex: 0 1 26.666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 991.98px) {
  .footer__fiveth {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
